<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" [ngClass]="{'toggled': !toggleService.showSidebar}" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-icon rotate-n-15">
      <fa-icon [icon]="faLaughWink"></fa-icon>
    </div>
    <div class="sidebar-brand-text mx-3">Sb Admin<sup>2</sup></div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" [href]="menuItems[0].link" (click)="showMenu('')">
      <fa-icon [icon]="menuItems[0].icon"></fa-icon>
      <span translate>{{menuItems[0].i18n}}</span>
    </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Section
  </div>

  <!-- Nav Item - Components Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" (click)="showMenu('components')" [attr.aria-expanded]="isMenuShown('components')">
      <fa-icon [icon]="faCog"></fa-icon>
      <span>Components</span>
      <div class="collapse-icon" *ngIf="toggleService.showSidebar">
        <fa-icon *ngIf="!isMenuShown('components')" [icon]="faAngleRight"></fa-icon>
        <fa-icon *ngIf="isMenuShown('components')" [icon]="faAngleDown"></fa-icon>
      </div>
    </a>
    <div [ngbCollapse]="!isMenuShown('components')" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Component 1:</h6>
        <a class="collapse-item" href="#">Selection 1</a>
        <a class="collapse-item" href="#">Selection 2</a>
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    ANOTHER SECTION
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" (click)="showMenu('pages')" [attr.aria-expanded]="isMenuShown('pages')">
      <fa-icon [icon]="faCog"></fa-icon>
      <span>Pages</span>
      <div class="collapse-icon" *ngIf="toggleService.showSidebar">
        <fa-icon *ngIf="!isMenuShown('pages')" [icon]="faAngleRight"></fa-icon>
        <fa-icon *ngIf="isMenuShown('pages')" [icon]="faAngleDown"></fa-icon>
      </div>
    </a>
    <div [ngbCollapse]="!isMenuShown('pages')" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Page 1:</h6>
        <a class="collapse-item" href="#">Paragraph 1.1</a>
        <a class="collapse-item" href="">Paragraph 1.2</a>
        <div class="collapse-divider"></div>
        <h6 class="collapse-header">Pages 2:</h6>
        <a class="collapse-item" href="#">Paragraph 2.1</a>
        <a class="collapse-item" href="#">Paragraph 2.22</a>
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle" (click)="toggleSidebar()">
      <fa-icon *ngIf="!toggleService.showSidebar" [icon]="faAngleRight"></fa-icon>
      <fa-icon *ngIf="toggleService.showSidebar" [icon]="faAngleLeft"></fa-icon>
    </button>
  </div>

  <!-- Sidebar Message -->
  <div class="sidebar-card">
    <img class="sidebar-card-illustration mb-2" src="/assets/img/undraw_rocket.svg" alt="">
    <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!</p>
    <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to Pro!</a>
  </div>

</ul>
<!-- End of Sidebar -->
