<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" [ngClass]="{'toggled': !showSidebar}" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-icon rotate-n-15">
      <fa-icon [icon]="faLaughWink"></fa-icon>
    </div>
    <div class="sidebar-brand-text mx-3">Sb Admin<sup>2</sup></div>
  </a>

  <div *ngFor="let menuItem of menuItems" [ngSwitch]="menuItem.type">

    <!-- Divider -->
    <hr *ngSwitchCase="'divider'" class="sidebar-divider my-0">

    <!-- Heading -->
    <div *ngSwitchCase="'heading'" class="sidebar-heading" translate>
      {{menuItem.i18n}}
    </div>

    <!-- Link -->
    <li *ngSwitchCase="'link'" class="nav-item" [ngClass]="{'active': isMenuShown(menuItem.name)}">
      <a class="nav-link" [href]="menuItem.link" (click)="onShowMenu(menuItem.name)">
        <fa-icon [icon]="menuItem.icon"></fa-icon>
        <span translate>{{menuItem.i18n}}</span>
      </a>
    </li>

    <!-- Group -->
    <li *ngSwitchCase="'group'" class="nav-item" [ngClass]="{'active': isMenuShown(menuItem.name)}">
      <a class="nav-link collapsed" href="#" (click)="onShowMenu(menuItem.name)" [attr.aria-expanded]="isMenuShown(menuItem.name)">
        <fa-icon [icon]="menuItem.icon"></fa-icon>
        <span translate>{{menuItem.i18n}}</span>
        <div class="collapse-icon" *ngIf="showSidebar">
          <fa-icon *ngIf="!isMenuShown(menuItem.name)" [icon]="faAngleRight"></fa-icon>
          <fa-icon *ngIf="isMenuShown(menuItem.name)" [icon]="faAngleDown"></fa-icon>
        </div>
      </a>
      <div [ngbCollapse]="!isMenuShown(menuItem.name)" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <div *ngFor="let children of menuItem.childrens">
            <h6 class="collapse-header" translate>{{children.i18n}}</h6>
            <a *ngFor="let link of children.links" class="collapse-item" [href]="link.link" translate>{{link.i18n}}</a>
          </div>
        </div>
      </div>
    </li>

  </div>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle" (click)="onToggleSidebar()">
      <div *ngIf="showSidebar; then closeSidebar else openSidebar"></div>
      <ng-template #closeSidebar>
        <fa-icon [icon]="faAngleLeft"></fa-icon>
      </ng-template>
      <ng-template #openSidebar>
        <fa-icon [icon]="faAngleRight"></fa-icon>
      </ng-template>
    </button>
  </div>

  <!-- Sidebar Message -->
  <div class="sidebar-card">
    <img class="sidebar-card-illustration mb-2" src="/assets/img/undraw_rocket.svg" alt="">
    <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!</p>
    <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to Pro!</a>
  </div>

</ul>
<!-- End of Sidebar -->
